<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="css/style.css">
<title>视频素材管理系统</title>
</head>
<body>
	<div class="container">
	<section id="content">
		<form action="/login" method="post">
			<h1>视频素材管理系统</h1>
			<div>
				<input type="text" placeholder="用户名"  name="userLoginname" id="userLoginname" />
			</div>
			<div>
				<input type="password" placeholder="密码"  name="userPassword" id="userPassword" />
			</div>
			<div>
				<input type="submit" value="登录" />
			</div>
		</form><!-- form -->
	</section><!-- content -->
</div>

</body>
</html>