<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>视频素材管理系统</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="/css/ionicons.css">
<link rel="stylesheet" href="/css/mask.css">
<link rel="stylesheet"
	href="/datatables.net-bs/css/dataTables.bootstrap.css">
<link rel="stylesheet"
	href="/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/css/bootstrap-select.min.css">
<link rel="stylesheet" href="/css/_all-skins.css">
<link rel="stylesheet" type="text/css" href="/webuploader/webuploader.css">

<!-- Google Font -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
<link rel="stylesheet" href="/css/AdminLTE.css">
</head>
<body class="hold-transition skin-blue ">
	<div class="wrapper">
		<header class="main-header">
			<!-- Logo -->
			<a href="/video" class="logo"  style=" width: 430px;"> <span class="logo-lg">中国文艺网视频素材存储管理系统-视频列表</span>
			</a>
			<!-- Header Navbar: style can be found in header.less -->
			<nav class="navbar navbar-static-top" style=" margin-left: 430px;">
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<!-- User Account: style can be found in dropdown.less -->
						<li class="dropdown user user-menu"><a href="/home"
							class="dropdown-toggle" data-toggle="dropdown"> <span
								class="hidden-xs">欢迎:<b></b></span>
						</a></li>
						<li><a href="/login" id="logout">注销</a></li>
					</ul>
				</div>
			</nav>
		</header>

		<div class="content-wrapper">
			<!-- Main content -->
			<section class="content">
				<div class="row">
					<div class="col-xs-12">
						<div class="box">
						<button type="button" class="btn bg-primary" id="toHome">
								<span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>查看全部活动
						</button>
						<!-- 
						<div id="div-videoSearch" class="dataTables_filter" style="float:right;">
							<div>
								 
								<div style="margin-top:5px; float: left;">视频搜索:</div>
								<input id="input-videoSearch" type="search"
									class="form-control input-sp" aria-controls="findAll" placeholder="按活动名称查找">
							</div>
						</div>
						-->
							<!-- /.box-header -->
							<div class="box-body">
								<table id="findAllVideo"
									class="table table-striped table-bordered table-hover dataTable "
									style="width: 100% !important;">

								</table>
							</div>
							<!-- /.box-body -->
						</div>
						<!-- /.box -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</section>
			<!-- /.content -->
		</div>

		<!-- /.content-wrapper -->
		<footer class="main-footer">
			<strong> Copyright © 2019 中国文艺网视频素材存储管理系统</strong>
		</footer>

	</div>



<!-- 修改视频信息模态框(Modal) -->
	<div class="modal fade" id="videoInfoModal" data-backdrop="static"
		tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" style="width: 100%; height: 82%">
				<div class="modal-header" style="width: 100%; height: 11%;">
					<button type="button" class="close videoModalClose" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title">修改视频信息</h4>
				</div>
				<div class="modal-body"
					style="overflow: auto; width: 100%; height: 89%;">
					<div class="form-group">
						<label for="videoName" class="col-sm-2 control-label">视频名称</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="videoNameUp"
								placeholder="请修改活动名称">
						</div>
					</div>
					<div class="form-group">
						<label for="videoTag" class="col-sm-2 control-label">视频标签</label>
						<div class="col-sm-10">
							<div type="text" class="form-control " id="videoTagUp"
								placeholder="为视频添加标签">
							</div>
							<div id='selectTagNames'  style='display:none; border:1px solid #ada3ad;min-height:80px;overflow-y:auto;'>
							</div>
					</div>
				</div>
				<input type="hidden" id="videoIdUp" />
				<div class="modal-footer" style="width: 100%; height: 13%;">
					<button type="button" class="btn btn-primary" id="updateVideo"
						data-dismiss="modal">保存</button>
					<button type="button" class="btn btn-default videoModalClose" data-dismiss="modal">关闭</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>





	<!-- jQuery 3 -->
	<script src="/jquery/dist/jquery.js"></script>
	<!-- Bootstrap 3.3.7 -->
	<script src="/bootstrap/dist/js/bootstrap.js"></script>
	<!-- DataTables -->
	<script src="/datatables.net/js/jquery.dataTables.js"></script>
	<script src="/datatables.net-bs/js/dataTables.bootstrap.js"></script>



	<script src="/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
	<script src="/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
	<script src="/js/loginName.js"></script>
	<script src="/js/bootstrap-select.js"></script>
	<!-- <script src="/js/defaults-zh_CN.js"></script> -->
	<script src="/js/video.js"></script>


</body>
</html>
