<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.cflac.home.mapper.VideoMapper">
  <resultMap id="BaseResultMap" type="cn.org.cflac.entity.Video">
    <result column="video_id" jdbcType="VARCHAR" property="videoId" />
    <result column="video_address" jdbcType="VARCHAR" property="videoAddress" />
    <result column="video_pic_address" jdbcType="VARCHAR" property="videoPicAddress" />
    <result column="video_upload_time" jdbcType="DATE" property="videoUploadTime" />
  </resultMap>
  <insert id="insertVideo" parameterType="cn.org.cflac.entity.Video">
    insert into activity_video (video_id, video_address, video_pic_address,video_upload_time)
    values (replace(uuid(),'-',''), #{videoAddress}
    , #{videoPicAddress}, NOW())
  </insert>
  
  
  
  <select id="findVideoByActid" parameterType="java.util.Map" resultType="cn.org.cflac.entity.Video">
  SELECT V.video_id,V.video_address,V.video_pic_address,V.video_upload_time from activity_video V where V.video_id in (
	SELECT
	R.video_id 
	FROM
	activity_video_rel R 
	<where>
	<if test="activityId != null">
	R.activity_id = #{activityId}
	</if>
	</where>
	) ORDER BY video_upload_time DESC
  </select>
</mapper>