<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.cflac.home.mapper.VideoTagMapper">
	<resultMap id="BaseResultMap" type="cn.org.cflac.entity.VideoTag">
		<id column="tag_id" jdbcType="VARCHAR" property="tagId" />
		<result column="tag_name" jdbcType="VARCHAR" property="tagName" />
		<result column="invalid" jdbcType="CHAR" property="invalid" />
	</resultMap>

	<insert id="insertVideoTag" parameterType="cn.org.cflac.entity.VideoTag">
		INSERT INTO video_tag (tag_id, tag_name, invalid)
		VALUES (#{tagId},#{tagName},'N')
	</insert>
	
	<insert id="insertRelvt" parameterType="cn.org.cflac.entity.Relvt">
		INSERT INTO video_tag_rel (rid,video_id,tag_id, invalid)
		VALUES (#{rid},#{videoId},#{tagTd},'N')
	</insert>
	
	<select id="findAllVideoTagName" resultType="String">
		select tag_name from video_tag where invalid ='N'
	</select>
	
	<select id="findAllVideoTag" resultType="java.util.Map">
		select tag_id,tag_name from video_tag where invalid ='N'
	</select>

	<update id="deleteVideoTag" parameterType="String">
		update video_tag 
			<set>
				invalid = 'Y'
			</set>
		WHERE tag_id = #{tagId}
	</update>
	
	<update id="updateVideoTag" parameterType="java.util.Map">
		UPDATE video_tag 
		<set>
			tag_name = #{tagName}
		</set>
		<where>
	    tag_id = '1'
	    </where>
	</update>

	<select id="findAidListByVtn1" parameterType="String" resultType="java.util.List">
		SELECT avr.activity_id FROM activity_video_rel AS avr
		<where>
			avr.video_id IN (SELECT vtr.video_id FROM video_tag_rel AS vtr
			<where>
				vtr.tag_id IN (SELECT vt.tag_id FROM video_tag AS vt
				<where>
					vt.tag_name IN (#{videoTag,jdbcType=VARCHAR})
				</where>
				AND vt.invalid ='Y'))
			</where>
		</where>
	</select>
	<!--  
	<select id="findAidListByVtn" parameterType="String" resultType="java.util.List">
		SELECT
		avr.activity_id
		FROM
		activity_video_rel AS avr
		WHERE
		avr.video_id IN (
		SELECT
		vtr.video_id
		FROM
		video_tag_rel AS vtr
		WHERE
		vtr.tag_id IN (
		SELECT
		vt.tag_id
		FROM
		video_tag AS vt
		WHERE
		vt.tag_name IN (#{videoTag,jdbcType=VARCHAR})
		AND
		vt.invalid ='Y'
		)
		)
	</select>
    -->
    

</mapper>